In [21]:
##import packages 

import pandas as pd
import numpy as np

In [22]:
#Load FOA stat data

path = "data/"

df= pd.read_csv(path+'FAOSTAT_data_en_4-24-2023.csv')
df.head(5)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),208,Denmark,664,Food supply (kcal/capita/day),S2905,Cereals - Excluding Beer,2016,2016,kcal/capita/day,847,E,Estimated value
1,FBS,Food Balances (2010-),208,Denmark,664,Food supply (kcal/capita/day),S2905,Cereals - Excluding Beer,2017,2017,kcal/capita/day,878,E,Estimated value
2,FBS,Food Balances (2010-),208,Denmark,664,Food supply (kcal/capita/day),S2905,Cereals - Excluding Beer,2018,2018,kcal/capita/day,826,E,Estimated value
3,FBS,Food Balances (2010-),208,Denmark,664,Food supply (kcal/capita/day),S2905,Cereals - Excluding Beer,2019,2019,kcal/capita/day,802,E,Estimated value
4,FBS,Food Balances (2010-),208,Denmark,664,Food supply (kcal/capita/day),S2905,Cereals - Excluding Beer,2020,2020,kcal/capita/day,794,E,Estimated value

In [23]:
#Drop irrelevant columns

df = df.drop(columns=["Domain Code","Domain","Area Code (M49)","Element Code","Element",
                     "Item Code (CPC)","Year Code","Unit","Flag","Flag Description"])

df.head(5)

      Area                      Item  Year  Value
0  Denmark  Cereals - Excluding Beer  2016    847
1  Denmark  Cereals - Excluding Beer  2017    878
2  Denmark  Cereals - Excluding Beer  2018    826
3  Denmark  Cereals - Excluding Beer  2019    802
4  Denmark  Cereals - Excluding Beer  2020    794

In [24]:
df.Value[df.Value==0].count()

21

In [25]:
#Removing items that have no values, specifically sugar crops as all of them are 0
df.drop(df[df['Value'] == 0].index, inplace = True)
df.Value[df.Value==0].count()

0

In [76]:
#Loading World Happiness Report data from 2016-2020
csvs = ["2020.csv","2019.csv","2018.csv","2017.csv","2016.csv"]

#List of northern european countries
country=["Finland",
"Denmark",
"Iceland",
"Norway",
"Sweden",
"United Kingdom",
"Ireland",
"Lithuania",
"Estonia",
"Latvia"]

years = [2020,2019,2018,2017,2016]


#Getting the health life expectacy for each country in every year
def get_hle():

    hle_list=[]

    for i in country:
        lst = []
        for j in csvs:
            df = pd.read_csv(j)
            lst.append(df.loc[(df['Country']==i)]["Healthy life expectancy"].values[0])
        hle_list.append(lst)
        
    return hle_list

#Getting the happiness score for each country in every year
def get_hpi():

    hpi_list=[]

    for i in country:
        lst = []
        for j in csvs:
            df = pd.read_csv(j)
            lst.append(df.loc[(df['Country']==i)]["Happiness Score"].values[0])
        hpi_list.append(lst)
        
    return hpi_list

In [79]:
hle = get_hle()
hpi = get_hpi()

#Iterating over the table and adding hle and hpi scores for each country
for i,j,k in zip(country,hle,hpi):
        for hl,hp,year in zip(j,k,years):
            df_final['Healthy life expectancy'] = np.where((df_final['Area']==i) &
                (df_final['Year'] == year), hl,df_final['Healthy life expectancy'])
            
            df_final['Happiness_Score'] = np.where((df_final['Area']==i) &
                (df_final['Year'] == year), hp,df_final['Happiness_Score'])

In [81]:
df_final.head(5)

,Area,Item,Year,Value,Happiness_Score,Healthy life expectancy
0,Denmark,Cereals - Excluding Beer,2016,847,7.5260,0.795040
1,Denmark,Cereals - Excluding Beer,2017,878,7.5220,0.792566
2,Denmark,Cereals - Excluding Beer,2018,826,7.5550,0.868000
3,Denmark,Cereals - Excluding Beer,2019,802,7.6000,0.996000
4,Denmark,Cereals - Excluding Beer,2020,794,7.6456,72.402504

In [56]:
#Saving the final version of data
df_final.to_csv('final_new.csv')